{% extends 'learning_logs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    <p><a class="btn btn-primary" href="{% url 'learning_logs:topic' topic.id %}"
        role="button">&laquo; {{ topic }}</a></p>
    <h2>Add a new entry</h2>
{% endblock page_header %}
    
{% block content %}
    
    <form class="form" action="{% url 'learning_logs:new_entry' topic.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button class="btn btn-lg btn-primary" name="submit">Add entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}
    