{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h3 class="text-center">Topics</h3>
{% endblock page_header %}
    
{% block content %}
    <div class="text-center">
        {% for topic in topics %}
            <div class="card mb-3">
                <h5 class="card-header">
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h5>
            </div>
        {% empty %}
            <p>No topics have been added yet.</p>
        {% endfor %}
        
        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic</a>
    </div>
{% endblock content %}